<!doctype html>
<head>
</head>
<body>
	<div id="container">
	  <div id="wrapper">
	    <div id="content">
	      <h3 class="words">Before</h3>
	        <p><canvas class="beforeAudio" style="background: white;  height: 380px"></canvas></p>
	      <h3 class="words">After</h3>
	        <p><canvas class="afterAudio" style="background: white; height: 380px"></canvas></p>
			<div class="post">
	  			<div style="margin-top: 20px">
					Frequency: <input id="frequency" type="range" min="0" max="1000" step="1" value="440" onchange="sample2.changeFrequency(this.value);">
					Detune: <input id="detune" type="range" min="-100" max="100" step="5" value="0" onchange="sample2.changeDetune(this.value);">
				</div>
			<p><button style="margin-top: 20px" onclick="sample2.toggle()">Play/pause Sin Wave Tester</button></p>
				<div class="navigation">
	    		<img ng-click="previous()" src="../images/previous.png"/>
	    		<img ng-click="pause(); hide();" ng-show="playing" src="../images/play.png"/>
	    		<img ng-click="pause(); hide();" ng-show="!playing" src="../images/pause.png"/>
	    		<img ng-click="next()" src="../images/next.png"/>
				</div>
	    	<div id="albumContainer"></div>
			<script>
			var sample1 = new ScriptSample();
			var sample2 = new MicrophoneSample();
			</script>
			</div>
	    </div>
	  </div>
	  <div>
    </div>
  </body>
</html>
